{:paths ["resources" "target" "src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.0"}
        cheshire {:mvn/version "5.10.0"}
        clj-http-lite {:mvn/version  "0.3.0"}
        prone {:mvn/version  "2020-01-17"}}}